[submodule "common"]
	path = common
	url = https://bitbucket.org/softozor/shopozor-common-frontend
[submodule "cypress/fixtures"]
	path = cypress/fixtures
	url = https://github.com/softozor/shopozor-fixtures
