[submodule "cypress/fixtures"]
	path = cypress/fixtures
	url = https://github.com/softozor/shopozor-fixtures
	branch = master
[submodule "graphql"]
	path = graphql
	url = https://github.com/softozor/shopozor-graphql
	branch = master
[submodule "common"]
	path = common
	url = https://github.com/softozor/shopozor-common-frontend
	branch = master
